{% extends 'main\base.html' %}
{% load static %}
{% block head %}
    <title>your file upload successfully</title>
{% endblock head %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="bg-danger col-12 col-md-6 mx-auto my-5 rounded shadow-lg py-2 px-4 text-white">
            <h1 class="mx-auto">File deleted successfully </h1>
            <a href="/" class="btn btn-primary fs-4 my-3">Back</a
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}
<script>
    function CopyFunction() {
    var copyText = document.getElementById('link-input')
    copyText.select();
    document.execCommand('copy')
    console.log('Copied Text')
  }
  </script>
  <script>
      swal.fire({
          title : 'Your file deleted',
          text : 'You successfully delete your file.',
          icon : 'success',
      })
  </script>

{% endblock script %}






