{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
    <title>Upload...</title>
{% endblock head %}

{% block body %}
<div class="wrapper">
    <div class="container">
      <h1>Upload a file</h1>
      <div class="upload-container">
        <div class="border-container">
          <div class="icons fa-4x">
            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
          </div>
          <form method="Post" enctype="multipart/form-data">
              {% csrf_token %}
            {{upload_form.file}}
            <p>
              <label for="upload-fiels" id="file-browser">browse</label> your computer and upload.</p>
              <input type="submit" class="d-block btn btn-primary" value="Upload">
            </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-2">
    <div class="container">
      <div class="col-12">
        <h2 class="fs-4 text-danger">Use cli.py :</h2>
        <p class="fs-5">With <code>cli.py</code> U can upload your file by script and with <code>py manage.py -f &lt;your file Name&gt;</code></p>
        <h2 class="fs-4 text-danger">Watch your objects :</h2>
        <p class="fs-5">list of uploaded file in api format go to&nbsp;<a href="/api">list of objects</a></p>
        <h2 class="fs-4 text-danger">Use api page for upload :</h2>
        <p class="fs-5">Upload files by api&nbsp;<a href="/api/create-new/">Upload file</a></p>
        <h2 class="fs-4 text-danger">Update or Delete your objects :</h2>
        <p class="fs-5">You can Update or Delete your objects , How? for delete use <code>delete/&lt;object id&gt;</code>&nbsp; and for update use <code>edit/&lt;object id&gt;</code> and if you wanna delete and update a object in a page use <code>manage/&lt;object id&gt;<p>
      </div>
    </div>
  </div>

{% endblock body %}
{% block script %}
<script src="{% static 'js/main/index.js' %}"></script>
{% endblock script %}

  