{% extends 'main/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
    <title>Upload...</title>
{% endblock head %}

{% block body %}
<div class="wrapper">
    <div class="container">
      <h1>Upload a file</h1>
      <div class="upload-container">
        <div class="border-container">
          <div class="icons fa-4x">
            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
          </div>
          <form method="Post" action="">
              {% csrf_token %}
            {{upload_form.file}}
            <p>
              <label for="upload-fiels" id="file-browser">browse</label> your computer and upload.</p>
              <input type="submit" class="d-block btn btn-primary" value="Upload">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
{% block script %}
<script src="{% static 'js/main/index.js' %}"></script>
{% endblock script %}

  