{% extends 'main\base.html' %}
{% load static %}
{% block head %}
    <title>your file upload successfully</title>
{% endblock head %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <button onclick="window.history.go(-1)" class="back-button"><i class="bi bi-arrow-left-circle-fill"></i></button>
        <div class="success-box bg-success col-12 col-md-6 mx-auto my-5 rounded shadow-lg py-2 px-4 text-white">
            <h1 class="mx-auto">File uploaded successfully </h1>
            <div class="detail-box">
                <span>Data of publish :</span>&nbsp;<span>{{uploaded_file_detail.dateOfPublish}}</span></br>
                <div class="download-link--box mt-2">
                    <span class="fs-4 fw-bold">File Address :</span></br>
                    <input class="col-12 bg-dark text-white px-2 py-1 rounded" type="text" value="http://127.0.0.1:8000{{media}}{{uploaded_file_detail.url}}" id="link-input" readonly></br>
                    <button onclick="Copy()" class="btn btn-primary my-2 d-inline-block ">Copy Text</button>
                    <a href="{% url 'delete-file' fileId=uploaded_file_detail.id %}" class="btn btn-danger my-2 d-inline-block ms-3">Delete</a>
                    <!-- <button onclick="Delete()" class="btn btn-danger my-2 d-inline-block ms-3">Delete</button> -->
                </div>                 
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block script %}
{% comment %} Function that will copy uploaded file url by press copy text button {% endcomment %}
<script>
    function Copy() {
    var copyText = document.getElementById('link-input')
    // copyText.select();
    document.execCommand('copy')
    console.log('Copied Text')
  }

  {% comment %} function Delete(){
      swal.fire({
          title : 'Do you want <span class="text-danger">delete</span> your file ?',
          showCancelButton : true,
          confirmButtonText : 'Delete',
          usConfirmed : 'BAshe',
      })
  } {% endcomment %}

{% comment %} This is that alert showed when file uploaded successfully {% endcomment %}
    const inputValue ='http://127.0.0.1:8000{{media}}{{uploaded_file_detail.url}}'
    Swal.fire({
        title: '<p class="text-success">Your file uploaded successfully</p>',
        input: 'text',
        inputLabel: 'Your file address',
        inputValue:inputValue ,
      })
  </script>
{% endblock script %}






